@font-face {
    font-family: "GilroyLight";
    src: url(../fonts/GILROY-LIGHT.OTF)
}


@font-face {
    font-family: "GilroyBold";
    src: url(../fonts/GILROY-EXTRABOLD.OTF)
}

$darkBlue: #153440;
$greyGreen: #6C8C8C;
$green: #45BF55;
$grey: #bfbfbf;
$greyDark: #707070;
$black: #0d0d0d;
$greyFade: #e1e1e1;
    

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    & > body{
        & .section-description-content{
            &  .title-tag{
                font-size: 16px;
                font-family: "GilroyBold";
                color: $green;
            }
            & .title{
                font-family: "GilroyBold";
                font-size: 24px;
                color: $black;
            }
            & .description{
                font-family: "GilroyLight";
                font-size: 16px;
                color: $greyDark;
        }
        }
        & > .scaffold{
            .header-section{
                height: 100vh;
                position: relative;
                & > img{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: -1;
                    object-fit: cover;
                    object-position: center;
                    filter: brightness(70%);
                }
                & > .container{
                    width: 100%;
                    height: 100%;
                    & > .navbar{
                        height: 60px;
                        position: fixed;
                        top: 0;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding:0px 32px;
                        width: 100%;

                        & > .left-nav-content{
                            > .logo{
                                h1{
                                    font-size: 24px;
                                    font-family: "GilroyBold";
                                    color: white;
                                }
                            }
                        }

                        & > .right-nav-content{
                            > .navigations{
                                li{
                                    padding: 0px 12px;
                                    display: inline-block;
                                    font-family: "GilroyLight";
                                    cursor: pointer;
                                    color: $greyFade;
                                    
                                    &:hover{
                                        color: white;
                                        font-weight: 600;
                                    }
                                    &.active{
                                        color: white;
                                        font-weight: 600;
                                    }
                                }
                            }
                        }
                    }

                    & > .header-contents{
                        width: 100%;
                        height: 100%;
                        display: flex;
                        flex-direction: column; 
                        justify-content: center;
                        align-items: center;
                        & > h4{
                            padding: 8px 0px;
                            font-family: "GilroyLight";
                            font-size: 20px;
                            color: white;
                        }
                        & > h1{
                            font-family: "GilroyBold";
                            font-size: 36px;
                            color: white;
                        }
                        & > p{
                            font-family: "GilroyLight";
                            font-family: 16px;
                            width: 50%;
                            padding: 8px 0px;
                            text-align: center;
                            color: $greyFade;
                            
                        }
                        & > .header-actions{
                            margin-top: 32px;
                            display: flex;
                            & > .header-action{
                                font-family: "GilroyLight";
                                font-size: 16px;
                                padding: 8px 16px;
                                border: 2px solid white;
                                border-radius: 6px;
                                background-color: $green;
                                margin: 0px 10px;
                                color: $black;
                                font-weight: 600;
                                cursor: pointer;
                                transition:  350ms;
                                &:first-child{
                                    background-color: white;
                                    color: $green;
                                    border: 2px solid $green;
                                }
                                &:hover{
                                    background-color: $black;
                                    color: white;
                                }
                            }
                        }
                    }
                }
            }

            & > .about-us-section{
                width: 100%;
                & > .container{
                    margin: 50px 24px;
                    margin-top: 50px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    & > .what-we-do{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        & > .description{
                            margin-top: 14px;
                            max-width: 500px;
                            text-align: center;
                        }
                        & > .title{
                            margin-top: 5px;
                        }
                    }

                    & > .about-us{
                        margin-top: 50px;
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        max-height: 500px;
                        & > .left-content{
                            > img{
                                max-width: 300px;
                                min-height: 360px;
                                object-fit: cover;
                                object-position: center;
                            }
                        }
                        & > .right-content{
                            margin-left: 50px;
                            max-width: 500px;
                            display: flex;
                            flex-direction: column;

                            & > .title{
                                margin-top: 5px;
                            }
                            & > .description{
                                margin-top: 14px;
                            }
                            & > .progress-section{
                                margin-top: 24px;
                                width: 100%;
                                display: flex;
                                justify-content: space-around;
                                & > .progress{
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;

                                    & > p{
                                        font-family: "GilroyLight";
                                        color: $black;
                                    }
                                }
                            }
                        }
                    }


                }
    
            }

            & > .our-services-section{
                width: 100%;
                position: relative;
                & > img{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: -1;
                    object-fit: cover;
                    object-position: center;
                    filter: brightness(70%);
                }
                & > .container{
                    padding: 50px 24px;
                    & > .section-description-content{
                        display: flex;
                        justify-content: center;
                        padding: 0px 200px;
                        align-items: center;
                        & > .description{
                            flex: 1;
                            text-align: end;
                            color: $greyFade;
                        }
                        & > .group-right{
                            flex: 1;
                            margin-left: 24px;
                            display: flex;
                            flex-direction: column;
                            & > .title{
                                color: white;
                                font-size: 32px;
                            }
                        }
                    }

                    & > .services-cards{
                        display: flex;
                        margin-top: 32px;
                        flex-wrap: wrap;
                        justify-content: center;
                        & > .service-card{
                            display: flex;
                            padding: 32px 14px;
                            max-width: 320px;
                            cursor: pointer;
                            margin: 14px;
                            justify-content: center;
                            align-items: center;
                            flex-direction: column;
                            backdrop-filter: blur(5px);
                            transition: all 350ms;
                            background-color: rgba(0, 0, 0, 0.3);
                            & > i {
                                color: white;
                            }
                            & > .title{
                                font-family: "GilroyBold";
                                font-size: 18px;
                                color: $green;
                                margin-top: 8px;
                            }
                            & > .description{
                                font-family: "GilroyLight";
                                font-size: 14px;
                                margin-top: 14px;
                                color: $greyFade;
                                text-align: center;
                            }
                            &:hover{
                                backdrop-filter: blur(14px);
                            }
                        }
                    }
                }
            }
        }

    }
}